body {
    font-family: 'Chakra Petch', sans-serif;
    background: bottom/cover url(img/bg.jpg) no-repeat;
}

.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-brand img {
    border-radius: 50%;
}

/* General Styles */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

.sec-blur-dark {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(18px);
    border-radius: 10px;
    color: white;
}

.sec-blur-light {
    backdrop-filter: blur(18px);
    border-radius: 10px;
    border: 1px solid black;
    color: black;
}

.sec-title {
    font-size: 2.5rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.sec-desc {
    font-size: 1.3rem;
}

.sec-text {
    font-size: 1.225rem;
}

.btn-info {
    font-size: 1.2rem;
    margin: 20px;
}

.text-dk {
    color: #000000;
}

.text-wt {
    color: #ffffff;
}

/* Main Content */

.main {
    min-height: 450px;
    text-align: center;
}

.main-top {
    padding: 3rem;
}

.pfp-img {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.main-top h2 {
    font-size: 1.5rem;
    color: #000000;
}

/* About me Content */

.abt-me {
    height: 500px;
    padding: 10px;
}

.abt-me .abt-container {
    max-width: 600px;
    text-align: center;
}

/* Exp Content */

.exp {
    padding: 40px 40px 60px 40px;
}

.exp .custom-col {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all .2s ease-in;
}

.exp .custom-col:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: white;
}

.exp i {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(30px);
    border-radius: 50%;
    padding: 8px 19px;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

.exp-title {
    font-size: 25px;
    font-weight: bold;
}

.badges-container {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

/* Proyects Contents */

.proy-rec {
    padding: 40px;
}

.proy-rec img {
    display: block;
    padding: 10px;
    height: 100%;
    width: 100%;
    transition: all .2s ease;
    border-radius: 15px;
}

.proys-container {
    margin-bottom: 40px;
    margin-top: 60px;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition: all .2s ease;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proy {
    position: relative;
}

.proy:hover img {
    opacity: .2;
}

.proy:hover .overlay {
    opacity: 1;
}

.overlay .icons-container {
    display: flex;
}

.overlay i {
    font-size: 60px;
    margin: 10px;
    background: -webkit-linear-gradient(#d0ff00, #0059ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Testimonials Content */
.testim {
    padding: 40px 40px 80px 40px;
}

.testim .carousel {
    max-width: 800px;
}

.carousel-item {
    height: 500px;
}

.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testim-img {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}

.testim-text {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

.testim-info {
    font-weight: bold;
    text-align: center;
}

.testim-info p {
    margin-bottom: 0;
}

.testim-info .client-name {
    font-size: 1.2rem;
}

.testim-info .client-prof {
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: .2rem;
}


/* Contact Content */

.contact .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contact .rectangle {
    margin-top: -8rem;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(45px);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px;
}

.contact .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contact .contact-desc {
    font-style: 1.5rem;
    color: white;
}

.contact button {
    border: 2px solid white;
    padding: 1.5em 2em;
    font-weight: bold;
    color: white;
    margin: 10px;
    background-color: transparent;
    border-radius: 15px;
    transition: all .2s ease-in-out;
}

.contact button:hover {
    background-color: white;
    color: #000000;
}

.contact button i {
    color: white;
    font-size: 1.3rem;
    transition: all .2s ease-in-out;
}

.contact button:hover i {
    color: #000000;
}

/* Footer Content */

footer {
    min-height: 300px;
}

.footer-icon {
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
}

.footer-text {
    font-style: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

.icons-social a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all .2s ease-in;
}

.icons-social i {
    color: white;
    font-style: 1.5rem;
    transition: all .2s ease-in;
}

.icons-social a:hover {
    background-color: white;
    border: 2px solid green
}

.icons-social a:hover i {
    color: #000000;
}

/* Responsive */

@media screen and (max-width:400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }
}

@media screen and (max-width: 800px) {
    .testim-img {
        height: 120px;
        width: 120px;
    }

    .testim-text {
        font-size: 15px;
    }
}

@media screen and (min-width: 700px) {
    .mb-img {
        max-width: 600px;
    }
}